<h1 class="page-header text-center">Restaurant Reservation <small>Demo</small></h1>

<div class="container">
  <%= render partial: 'reservation_form', locals: { reservation: @reservation } %>
  <%= render partial: 'reservations_table', locals: { reservations: @reservations } %>
</div>